{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
{% for article in object_list %}
    <div class="card mt-4">
        <div class="card-header">
            <a href=" {% url 'article_detail' article.pk %} ">
                <h3 class="font-weight-bold"> {{article.title}} </h3>
            </a>
            <span class="text-muted">by {{article.author}} | {{article.date}} </span>
        </div>
        <div class="card-body">
            {{article.body|truncatechars:250}}
            <p>
                {% if request.user == article.author %}
                    <a href=" {% url 'article_edit' article.pk %} ">Edit</a>
                    |
                    <a href=" {% url 'article_delete' article.pk%} ">Delete</a>
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            {% for comment in article.comments.all %}
            <p>
                <span class="font-wight-bold"> {{comment.author}} &middot; </span>
                {{comment}}
            </p>
            {% endfor %}
        </div>
    </div>
    <br/>
{% endfor %}
{% endblock content %}